@charset "UTF-8";



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: #612f74;
}

.conteiner-1 {

    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    gap: 20px;
}



h1 {
    text-align: center;
    color: #b3a163;
    margin: 30px;
    font-size: 37px;


}



.img-1 {
    width: 100%;

}

.p-1 {
    color: white;
    margin: 10px;
    padding: 10px;
    font-size: 23px;
    text-indent: 1.5em;
    line-height: 32px;
    border: 1px solid #b3a163;
}

.p-2 {
    color: white;
    margin: 10px;
    padding: 10px;
    font-size: 23px;
    text-indent: 1.5em;
    line-height: 32px;

}

.p-3 {
    border: 2px solid #b3a163;
    color: white;
    font-size: 15px;
}

.p-4 {
    font-size: 18px;
    margin: 10px;
    color: white;
}

.p-5 {
    text-align: center;
    font-size: 25px;
    color: white;
}



.wpp {
    width: 10px;
}

#wpp {
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 40px;
    right: 10px;


}

h1 {
    text-align: center;
    color: white;
    margin: 30px;
    font-size: 30px;
    background-color: #b3a163;
    border-radius: 5px;
    padding: 12px;



}

h2 {
    text-align: center;
    color: white;
    margin: 30px;
    font-size: 37px;
    border-radius: 3px;
}



li {
    color: white;
    font-size: 20px;
    margin: 7px;

}



button {
    width: 50%;
    height: 50px;
    font-size: 18px;
    border-radius: 12px;
    color: white;
    font-weight: bold;
    border: 2px solid #b3a163;
    margin: 10px;
    background-color: #612f74;
    cursor: pointer;
}



::placeholder {
    font-size: 18px;
    color: gray;
    text-align: center;
    font-weight: bold;
}



iframe {
    width: 350px;
    height: 300px;
    margin: 18px;
    border-radius: 5px;
    outline: none;

}







.icon {
    width: 20px;
}



strong {
    color: white;
    font-size: 20px;
}

.strong-2 {
    font-size: 20px;
    margin: 10px;
    text-indent: 1.5em;
}

@media (min-width: 600px) and (max-width: 1800px){
.img-1{
    width: 70%;
   border-radius: 20px;
   padding: 10px;
}
}