@charset "UTF-8";



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: #612f74;
}

.conteiner-1 {

    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    gap: 20px;


}



.img-1 {
    width: 100%;

}

.p-1 {
    color: white;
    margin: 10px;
    font-size: 20px;
    text-indent: 1.5em;
    line-height: 27px;

}

.button-1 {
    width: 50%;
    height: 50px;
    font-size: 18px;
    border-radius: 12px;
    color: white;
    font-weight: bold;
    background-color: #612f74;
    border: 2px solid #fbff00;
    cursor: pointer;

}



.wpp {
    width: 20px;
}

#wpp{
    width: 70px;
}

h2 {
    text-align: center;
    color: #fbff00;
    margin: 30px;

}

.conteiner-2 {

    display: flex;
    flex-direction: column;
    margin: 8px;
    gap: 20px;
    border: 3px solid #612f74;

}

li {
    color: white;
    font-size: 18px;
    margin: 7px;

}


strong {
    color: #fbff00;
    font-size: 22px;

}

.conteiner-3 {
    display: flex;
    flex-direction: column;
    margin: 8px;
    gap: 20px;
    border: 3px solid #612f74;
}

.P-10 {
    color: white;
    margin: 10px;
    font-size: 20px;
    text-indent: 0.3em;
    line-height: 27px;
}

.p-2 {
    color: white;
    margin: 10px;
    font-size: 20px;
    text-indent: 0.3em;
    line-height: 27px;
}


.conteiner-4 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 3px solid white;
    width: 100%;
    justify-content: center;
    align-items: center;

}

button {
    width: 50%;
    height: 50px;
    font-size: 18px;
    border-radius: 12px;
    color: white;
    font-weight: bold;
    border: 2px solid #fbff00;
    margin: 10px;
    background-color: #612f74;
    cursor: pointer;
}



::placeholder {
    font-size: 18px;
    color: gray;
    text-align: center;
    font-weight: bold;
}

.conteiner-5 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;

}

iframe {
    width: 350px;
    height: 300px;
    margin: 18px;
    border-radius: 5px;
    outline: none;

}

.p-3 {
    text-indent: 1.5em;
    color: white;
    text-decoration: none;
    line-height: 27px;
}

.conteiner-6 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: flex-start;
    align-items: flex-start;
}



.icon {
    width: 20px;
}

.conteiner-7 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.p-4 {
    color: white;
    margin: 18px;
    border: 2px solid white;
}